<% if signed_in? %>
  <div class="row">
    <aside class="span4">

      <%= form_for(@new_drink) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.text_field :name, placeholder: "What are you drinking?", class: "drinks_tt form-control" %><br>
        <%= f.text_area :comment, placeholder: "How is it?", class: "form-control" %>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      <% end %>

      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <%= link_to "New Drink!", new_drink_path, class: "btn btn-large btn-primary" %>
    </aside>
    <div class="span8">
      <h3>Drinks Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="landing_container">
    <div class="landing_icon">
      <%=image_tag "Icons/icon_final.png" %>
    </div>
    <div class="landing_name">
      <%=image_tag "barfly_text.png" %>
    </div>
    <div class="description">
      <h2>Social Drinking + Bar Discovery.</h2>
    </div>
    <div class="session_actions">
      <div class="btn-group btn-group-justified">
        <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-xlarge" %>
        <%= link_to "Log In", signin_path, class: "btn btn-info btn-xlarge" %>
       </div>
     </div>
  </div>
<% end %>

