<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <%= link_to "New Drink!", new_drink_path, class: "btn btn-large btn-primary" %>
    </aside>
    <div class="span8">
      <h3>Drinks Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="landing_container">
    <div class="landing_icon">
      <%=image_tag "Icons/icon_final.png" %>
    </div>
    <div class="landing_name">
      <%=image_tag "barfly_text.png" %>
    </div>
    <div class="description">
      <h2>Social Drinking + Bar Discovery</h2>
      <h2>Find out what's trending in your city!</h2>
    </div>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>

