<% provide(:title, 'BarFly') %>
<% if signed_in? %>
  <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <section class="scrollable wrapper">
          <div class="row">
            <div class="col-lg-8">
              <section class="panel ">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                  <% end %>
                <%= form_for(@new_drink) do |f| %>
                  <%= f.text_field :name, placeholder: "Bottoms Up! Whacha Drinking?", class: "drinks_tt form-control" %>
                  <div class="small_space"></div>
                  <%= f.text_area :comment, placeholder: "Good? Bad?", class: "form-control" %>
                <footer class="panel-footer">
                  <%= f.submit "Submit", class: "btn btn-info pull-right" %>
                  <div class="med_space"></div>
                  <% end %>
                </footer>
              </section>
              <div class="row">
                <div class="col-lg-12">
                  <section class="padding_med panel bg-primary lt no-borders">
                      <span class="font_white">
                        Your News Feed</span>
                      <div class="med_vert"></div>
                      <div class="med_vert"></div>
                      <div class="med_vert"></div>
                      <div class="group_width_fx btn-group" data-toggle="buttons">
                        <%if @user.feed_preference.nil? || @user.feed_preference === "Local"%>
                          <label class="btn btn-sm btn-info active width_fx">
                            <i class="fa fa-check text-active pull-left"></i>
                        <%else%>
                          <label class="btn btn-sm btn-info width_fx ">
                        <%end%>
                          <%= form_for(current_user) do |l|%>
                            <div><%= l.hidden_field :feed_preference, :value => "Local" %></div>
                            <%= l.submit "Local", class: "btn-transparent" %>
                          <%end%>
                        </label>
                        <%if @user.feed_preference === "Friends"%>
                          <label class="btn btn-sm btn-primary active width_fx">
                            <i class="fa fa-check text-active pull-left"></i>
                        <%else%>
                          <label class="btn btn-sm btn-primary width_fx">
                        <%end%>
                          <%= form_for(current_user) do |g|%>
                            <div><%= g.hidden_field :feed_preference, :value => "Friends" %></div>
                            <%= g.submit "Friends", class: "btn-transparent" %>
                          <%end%>
                        </label>
                        <%if @user.feed_preference === "All"%>
                          <label class="btn btn-sm btn-success active width_fx">
                            <i class="fa fa-check text-active pull-left"></i>
                        <%else%>
                          <label class="btn btn-sm btn-success width_fx">
                        <%end%>
                          <%= form_for(current_user) do |a|%>
                            <div><%= a.hidden_field :feed_preference, :value => "All" %></div>
                            <%= a.submit "All", class: "btn-transparent" %>
                          <%end%>
                        </label>
                      </div>
                  </section>
                  <%=render 'shared/feed'%>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <%= render 'widgets/location'%>
               <section class="panel bg-info lter no-borders">
                <div class="panel-body">
                  <a class="pull-right" href="#"><i class="fa fa-map-marker"></i></a>
                  <span class="h4">McLean, VA</span>
                  <div class="text-center padder m-t">
                    <span class="h1"><i class="fa fa-cloud text-muted"></i> 68°</span>
                  </div>
                </div>
                <footer class="panel-footer lt">
                  <div class="row">
                    <div class="col-xs-4">
                      <small class="text-muted block">Humidity</small>
                      <span>56 %</span>
                    </div>
                    <div class="col-xs-4">
                      <small class="text-muted block">Precip.</small>
                      <span>0.00 in</span>
                    </div>
                    <div class="col-xs-4">
                      <small class="text-muted block">Winds</small>
                      <span>7 mp</span>
                    </div>
                  </div>
                </footer>
              </section>
            </div>
          </div>          
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
<% else %>
  <div class="landing_container">
    <div class="landing_icon">
      <%=image_tag "Icons/icon_final.png", class: "img_rs" %>
    </div>
    <div class="landing_name">
      <%=image_tag "barfly_text.png", class: "img_rs" %>
    </div>
    <div class="description">
      <h2>Social Drinking + Bar Discovery.</h2>
    </div>
    <div class="session_actions">
      <div class="btn-group btn-group-justified">
        <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-xlarge" %>
        <%= link_to "Log In", signin_path, class: "btn btn-info btn-xlarge" %>
       </div>
     </div>
  </div>
<% end %>

