<% if !signed_in? %>
	<h1>BarFly</h1><br>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% else %>
<h3>Your Drinks</h3>
	<%= link_to "New Drink!", new_drink_path, class: "btn btn-large btn-primary" %><br><br>
	<ol>
		<% @drinks.each do |drink|%>
			<li>
				<b><%= drink.name %></b> (<%= drink.type%>)<br>
				<%= drink.comment%><br>
				likes: <%= drink.likes %><br>
				<%= drink.created_at %>
			</li>
		<% end %>
	</ol>

<% end %>