<% provide(:title, "Sign in") %>
<div class="landing_container">
<section class="m-t-lg wrapper-md animated fadeInUp">
  <%=link_to "BarFly", root_path, class: "nav-brand"%>
  <div class="row m-n">
    <div class="col-md-4 col-md-offset-4 m-t-lg">
      <section class="panel">
        <header class="panel-heading text-center">
            <h3>Welcome Back!</h3>
          </header>
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'control-label'%>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password , class: 'form-control' %>
        </div>
        <div class="checkbox pull-right m-t-xs">
          <label>
            <input type="checkbox"> Keep me logged in<br><br>
          </label>
        </div><div class="small_space"></div>
        <%= f.submit "Sign in", class: "btn btn-info btn-large" %>
        <% end %>
        <div class="line line-dashed"></div>
        <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-xlarge btn-primary btn-block m-b-sm"%>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center">Don't have an account?<br><br></p>
        <%= link_to "Click here to register", signup_path, class: "btn btn-block btn-large" %>
      </section>
    </div>
  </div>
</section>
</div>