<% provide(:title, @cocktail.name) %>
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <div class="row">
        <div class="col-lg-4">
        	<section class="panel">
				<div class="panel-body">
					
					<%=render 'likes'%>

					<div class="clearfix text-center m-t">
						<div class="thumb-xlg">
							<% if !@cocktail.image.nil?%>
								<%= image_tag @cocktail.image, class: "img-circle-lg" %>
							<%else%>
								<%= image_tag "cocktail_placeholder.png", class: "img-circle-lg" %>
							<%end%>
						</div>
						<div class="h3 m-t m-b-xs">
							<strong><%= @cocktail.name%></strong><div class="small_space"></div>
							<small class="text-muted m-b"><i class="fa fa-glass"></i> <%= @cocktail.primary%> &nbsp; <i class="fa fa-heart"></i>
							<%if @cocktail.likes.nil?%>
								0
							<%else%>
								<%=@cocktail.likes%>
							<%end%>
							</small>
						</div>
					</div>
				</div>
				<footer class="panel-footer bg-primary dker">
					<div class="col-lg-12">
						<div class="col-lg-12">
							<% if @cocktail.iba === "Y"%>
							<div class="small_space"></div>
							<div>
								<label class="label label-primary lter no-bold">IBA Official Cocktail</label>
							</div><div class="small_space"></div>
							<%end%>
							<%if !@cocktail.alcohols.nil?%>
								Containing Alcohols: <%=@cocktail.alcohols%><br>
							<%end%>
							<%if !@cocktail.served.nil?%>
								Served: <%=@cocktail.served%><br>
							<%end%>
							<%if !@cocktail.glass.nil?%>
								Glass Type: <%=@cocktail.glass%><br>
							<%end%>
							<%if !@cocktail.ingredients.nil?%>
								Ingredients: <%=@cocktail.ingredients%><br><br>
							<%end%>
							<%if !@cocktail.instructions.nil?%>
								Instructions: <%=@cocktail.instructions%><br>
							<%end%>
						</div>
					</div>
				</footer>
			</section>
        </div>	
        <div class="col-lg-7">
    	<% if !@cocktail.description.nil?%>						
      		<div class="panel bg-primary dker">
      				<%=@cocktail.description%>
      		</div>
      	<%end%>
      		<%=render 'shared/feed'%>
        </div>
      </div>
    </section>
  </vbox>
</section>