<% provide(:title, 'BarFly | New Drink') %>
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <div class="tab-content">
        <section class="tab-pane active" id="basic">
         <div class="row">
          <div class="col-sm-6">
            <section class="panel">
              <ul id="myTab" class="nav nav-tabs">
                <%if @cocktail_active.nil?%>
                  <li class="active"><a href="#beer" data-toggle="tab">New Beer</a></li>
                  <li><a href="#cocktail" data-toggle="tab">New Cocktail</a></li>
                <%else%>
                  <li><a href="#beer" data-toggle="tab">New Beer</a></li>
                  <li class="active"><a href="#cocktail" data-toggle="tab">New Cocktail</a></li>
                <%end%>
              </ul>
              <div class="tab-content">
                <%if @cocktail_active.nil?%>
                  <div class="tab-pane active" id="beer">
                <%else%>
                  <div class="tab-pane" id="beer">
                <%end%>
                  <div class="panel-body">
                    <%= form_for @beer do |f| %>
                      <% if @beer.errors.any? %>
                        <div id="error_explanation">
                          <div class="alert alert-error">
                            The form contains <%= pluralize(@beer.errors.count, "error") %>.
                          </div>
                          <ul>
                          <% @beer.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                       <%= f.label :name, class: 'control-label'%>
                      <%= f.text_field :name, placeholder:"required", class: 'form-control' %><br>
                      <%= f.label :description, class: 'control-label'%>
                      <%= f.text_area :description, placeholder: "required", class: 'form-control' %>
                      <div class="line line-dashed"></div>
                      <%= f.label :brewed_by, class: 'control-label'%>
                      <%= f.text_field :brewed_by, class: 'form-control' %>
                      <%= f.label :style, class: 'control-label'%>
                      <%= f.text_field :style, class: 'beerstyles_tt form-control' %>
                      <%= f.label :abv, class: 'control-label'%>
                      <%= f.text_field :abv, class: 'form-control' %>
                      <%= f.label :ibu, class: 'control-label'%>
                      <%= f.text_field :ibu, class: 'form-control' %>
                      <%= f.label :is_organic, class: 'control-label'%><br>
                      <%= f.radio_button :is_organic, 'N'%> No
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= f.radio_button :is_organic, 'Y'%> Yes
                      <%= f.submit "Submit", class: "btn btn-xlarge btn-primary pull-right" %>

                    <% end %>
                  </div>
                </div>
                <%if @cocktail_active.nil?%>
                  <div class="tab-pane" id="cocktail">
                <%else%>
                  <div class="tab-pane active" id="cocktail">
                <%end%>
                  <div class="panel-body">
                    <%= form_for @cocktail do |f| %>
                      <% if @cocktail.errors.any? %>
                        <div id="error_explanation">
                          <div class="alert alert-error">
                            The form contains <%= pluralize(@cocktail.errors.count, "error") %>.
                          </div>
                          <ul>
                          <% @cocktail.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                       <%= f.label :name, 'Cocktail Name',class: 'control-label'%>
                      <%= f.text_field :name, placeholder:"required", class: 'form-control' %><div class="small_space"></div>
                      <%= f.label :primary, 'Primary Alcohol', class: 'control-label'%>
                      <%= f.text_field :primary, placeholder: "required", class: 'cocktailprimary_tt form-control' %><div class="small_space"></div>
                      <%= f.label :description, class: 'control-label'%>
                      <%= f.text_area :description, placeholder: "required", class: 'form-control' %>
                      <div class="line line-dashed"></div>
                      <%= f.label :alcohols, 'All Alchohols', class: 'control-label'%>
                      <%= f.text_field :alcohols, class: 'form-control' %>
                      <%= f.label :served, class: 'control-label'%>
                      <%= f.text_field :served, class: 'cocktailserve_tt form-control' %>
                      <%= f.label :glass, 'Glass Type', class: 'control-label'%>
                      <%= f.text_field :glass, class: 'cocktailglass_tt form-control' %>
                      <%= f.label :ingredients, class: 'control-label'%>
                      <%= f.text_field :ingredients, class: 'form-control' %>
                      <%= f.label :instructions, class: 'control-label'%>
                      <%= f.text_field :instructions, class: 'form-control' %>
                      <%= f.hidden_field :iba, :value => "N"%><div class="small_space"></div>
                      <%= f.submit "Submit", class: "btn btn-xlarge btn-primary pull-right" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
<script type="text/javascript">
  // Set up typeahead
  var setUpCocktailPrimaryTypeahead = function() {
      // Initialize typeahead.
      $(".cocktailprimary_tt").typeahead({
          name: 'cocktailprimary',
          local: <%=Cocktail.pluck(:primary).uniq.to_s.html_safe%>
      });

      $(".cocktailglass_tt").typeahead({
          name: 'glass',
          local: ["Brandy Snifter", "Stemmed Glass", "Martini Style", "12 oz. glass", "Pub glass", "Shot glass", "Beer Stein", "Champagne Flute", "Cocktail Glass", "Collins Glass", "Highball Glass", "Hurricane Glass", "Irish Coffee Glass", "Margarita Glass", "Old Fashioned Glass", "Old Fashioned Glass or Cobbler", "Pint glass", "Poco Grande Glass", "Shot glass", "Tall glass", "Varies", "Wine Glass"]
      });

      $(".cocktailserve_tt").typeahead({
          name: 'serve',
          local: ["Straight up; without ice or on the rocks", "On the rocks; poured over ice", "Straight up; without ice", "Stirred not shaken", "Straight (or on the rocks)", "Straight up", "Hot", "Shaken", "In a chilled, salt-rimmed glass", "Blended with ice (frozen style)", "Neat; undiluted and without ice", "Over crushed or shaved ice", "Chilled, with ice", "Varies"] 

      });
  }
  $(document).ready(function(){
    setUpCocktailPrimaryTypeahead();
  });
</script>

<script type="text/javascript">
  // Set up typeahead
  var setUpBeerStylesTypeahead = function() {
      // Initialize typeahead.
      $(".beerstyles_tt").typeahead({
          name: 'beerstyles',
          local: ["Classic English-Style Pale Ale", "English-Style India Pale Ale", "Ordinary Bitter", "Special Bitter or Best Bitter", "Extra Special Bitter", "English-Style Summer Ale", "Scottish-Style Light Ale", "Scottish-Style Heavy Ale", "Scottish-Style Export Ale", "English-Style Pale Mild Ale", "English-Style Dark Mild Ale", "English-Style Brown Ale", "Old Ale", "Strong Ale", "Scotch Ale", "British-Style Imperial Stout", "British-Style Barley Wine Ale", "Brown Porter", "Robust Porter", "Sweet or Cream Stout", "Oatmeal Stout", "Irish-Style Red Ale", "Classic Irish-Style Dry Stout", "Foreign (Export)-Style Stout", "American-Style Pale Ale", "Fresh \"Wet\" Hop Ale", "Pale American-Belgo-Style Ale", "Dark American-Belgo-Style Ale", "American-Style Strong Pale Ale", "American-Style India Pale Ale", "Imperial or Double India Pale Ale", "American-Style Amber/Red Ale", "Imperial or Double Red Ale", "American-Style Barley Wine Ale", "American-Style Wheat Wine Ale", "Golden or Blonde Ale", "American-Style Brown Ale", "Smoke Porter", "American-Style Brett Ale", "American-Style Sour Ale", "American-Style Black Ale", "American-Style Stout", "American-Style Imperial Stout", "Specialty Stouts", "German-Style Kölsch / Köln-Style Kölsch", "Berliner-Style Weisse (Wheat)", "Leipzig-Style Gose", "South German-Style Hefeweizen / Hefeweissbier", "South German-Style Kristall Weizen / Kristall Weissbier", "German-Style Leichtes Weizen / Weissbier", "South German-Style Bernsteinfarbenes Weizen / Weissbier", "South German-Style Dunkel Weizen / Dunkel Weissbier", "South German-Style Weizenbock / Weissbock", "Bamberg-Style Weiss (Smoke) Rauchbier (Dunkel or Helles)", "German-Style Brown Ale / Düsseldorf-Style Altbier", "Kellerbier (Cellar beer) or Zwickelbier - Ale", "Belgian-Style Flanders Oud Bruin or Oud Red Ales", "Belgian-Style Dubbel", "Belgian-Style Tripel", "Belgian-Style Quadrupel", "Belgian-Style Blonde Ale", "Belgian-Style Pale Ale", "Belgian-Style Pale Strong Ale", "Belgian-Style Dark Strong Ale", "Belgian-Style White (or Wit) / Belgian-Style Wheat", "Belgian-Style Lambic", "Belgian-Style Gueuze Lambic", "Belgian-Style Fruit Lambic", "Belgian-Style Table Beer", "Other Belgian-Style Ales", "French-Style Bière de Garde", "French & Belgian-Style Saison", "International-Style Pale Ale", "Australasian-Style Pale Ale", "German-Style Pilsener", "Bohemian-Style Pilsener", "European Low-Alcohol Lager / German Leicht(bier)", "Münchner (Munich)-Style Helles", "Dortmunder / European-Style Export", "Vienna-Style Lager", "German-Style Märzen", "German-Style Oktoberfest / Wiesen (Meadow)", "European-Style Dark / Münchner Dunkel", "German-Style Schwarzbier", "Bamberg-Style Märzen Rauchbier", "Bamberg-Style Helles Rauchbier", "Bamberg-Style Bock Rauchbier", "Traditional German-Style Bock", "German-Style Heller Bock/Maibock", "German-Style Doppelbock", "German-Style Eisbock", "Kellerbier (Cellar beer) or Zwickelbier - Lager", "American-Style Lager", "American-Style Light (Low Calorie) Lager", "American-Style Low-Carbohydrate Light Lager", "American-Style Amber (Low Calorie) Lager", "American-Style Premium Lager", "American-Style Pilsener", "American-Style Ice Lager", "American-Style Malt Liquor", "American-Style Amber Lager", "American-Style Märzen / Oktoberfest", "American-Style Dark Lager", "Baltic-Style Porter", "Australasian, Latin American or Tropical-Style Light Lager", "International-Style Pilsener", "Dry Lager", "Session Beer", "American-Style Cream Ale or Lager", "California Common Beer", "Japanese Sake-Yeast Beer", "Light American Wheat Ale or Lager with Yeast", "Light American Wheat Ale or Lager without Yeast", "Fruit Wheat Ale or Lager with or without Yeast", "Dark American Wheat Ale or Lager with Yeast", "Dark American Wheat Ale or Lager without Yeast", "Rye Ale or Lager with or without Yeast", "German-Style Rye Ale (Roggenbier) with or without Yeast", "Fruit Beer", "Field Beer", "Pumpkin Beer", "Chocolate / Cocoa-Flavored Beer", "Coffee-Flavored Beer", "Herb and Spice Beer", "Specialty Beer", "Specialty Honey Lager or Ale", "Gluten-Free Beer", "Indigenous Beer (Lager or Ale)", "Smoke Beer (Lager or Ale)", "Experimental Beer (Lager or Ale)", "Out of Category - Traditionally Brewed Beer", "Wood- and Barrel-Aged Beer", "Wood- and Barrel-Aged Pale to Amber Beer", "Wood- and Barrel-Aged Dark Beer", "Wood- and Barrel-Aged Strong Beer", "Wood- and Barrel-Aged Sour Beer", "Aged Beer (Ale or Lager)", "Other Strong Ale or Lager", "Non-Alcoholic (Beer) Malt Beverages", "Dry Mead", "Semi-Sweet Mead", "Sweet Mead", "Cyser (Apple Melomel)", "Pyment (Grape Melomel)", "Other Fruit Melomel", "Metheglin", "Braggot", "Open Category Mead", "Common Cider", "English Cider", "French Cider", "Common Perry", "Traditional Perry", "New England Cider", "Fruit Cider", "Apple Wine", "Other Specialty Cider or Perry", "American-Style Imperial Porter", "Adambier", "Grodzisz"]
      });
  }
  $(document).ready(function(){
    setUpBeerStylesTypeahead();
  });
</script>

