<% provide(:title, 'BarFly | Sign up') %>
<div class="landing_container">
<section class="m-t-lg wrapper-md animated fadeInDown">
  <%=link_to "BarFly", root_path, class: "nav-brand"%>
  <div class="row m-n">
    <div class="col-md-4 col-md-offset-4 m-t-lg">
      <section class="panel">
        <%= link_to "Sign Up with Facebook", "/auth/facebook", class: "btn btn-large btn-primary btn-block m-b-sm"%>
        <div class="line line-dashed"></div>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="form-group">
            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, placeholder: 'John Smith', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.text_field :email, placeholder: 'johnsmith@test.com', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :city, class: 'control-label' %>
            <%= f.text_field :location,placeholder: 'Boston, MA', class: 'form-control location_tt' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmation", class: 'control-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit "Create My Account", class: "btn btn-large btn-info" %>
        <% end %>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center">Already have an account?<br><br></p>
        <%= link_to "Click here to sign in", signin_path, class: "btn btn-block btn-large" %>
      </section>
    </div>
  </div>
</section>
</div>