<% provide(:title, @user.name) %>
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <div class="row">
        <div class="col-lg-4">
          <section class="panel">
            <div class="panel-body">
              <div class="clearfix text-center m-t">
                <div class="thumb-xlg animated rollIn">
                  <%= image_tag @user.picture, class: "img-circle-lg" %>
                </div>
                <div class="h3 m-t m-b-xs">
                  <strong><%= @user.name%></strong><div class="small_space"></div>
                  <small class="text-muted m-b"><i class="fa fa-map-marker icon-sm"></i> <%= @user.location%>
                  </small>
                </div>
              </div>
            </div>
            <footer class="panel-footer text-center">
              <div class="col-lg-12">
              <div class="row pull-out"> 
                <div class="col-xs-12 bg-barfly">
                  <div class="padder-v">
                    <span class="font_white"><%=@user.fly_status%> - Level <%=@user.level%></span><div class="small_space"></div>
                  </div>
                </div>
              </div>
              <div class="row pull-out">
                <div class="col-xs-4 bg-success dker anmiated dropIn">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block"><%=@user.followers.count%></span>
                    <small class="text-muted">Followers</small>
                  </div>
                </div>
                <div class="col-xs-4 bg-info">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block"><%=@user.followed_users.count%></span>
                    <small class="text-muted">Following</small>
                  </div>
                </div>
                <div class="col-xs-4 bg-warning dker">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block">0</span>
                    <small class="text-muted">Memorabilia</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="row pull-out">
                <div class="col-xs-4 bg-barfly lt">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block"><%=@user.drinks.count%></span>
                    <small class="text-muted">Drinks</small>
                  </div>
                </div>
                <div class="col-xs-4 bg-primary">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block"><%=@user.uniq_drink_count%></span>
                    <small class="text-muted">Unique</small>
                  </div>
                </div>
                <div class="col-xs-4 bg-danger">
                  <div class="padder-v">
                    <span class="m-b-xs h4 block"><%=@user.checkins_count%></span>
                    <small class="text-muted">Check-Ins</small>
                  </div>
                </div>
              </div>
            </div>
            </footer>
          </section>
        </div>
        <div class="col-lg-7">
           <section class="padding_med panel bg-primary lt no-borders animated bounceInDown">
            <% if @user === current_user %>
               <span class="font_white">Your Recent Activity</span>
            <% else %>
               <span class="font_white"><%=@user.name%>'s Recent Activity</span>
            <%end%>
            </section>

          <%=render 'shared/feed'%>
        </div>
      </div>
    </section>
  </vbox>
</section>