<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.picture %>
        <%= @user.name %>
      </h1>
    </section>
    <% if !@facebook_auth %>
     <p><%= link_to "Sign in with Facebook", "/auth/facebook"%></p>
    <%end%>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.drinks.any? %>
      <h3>Drinks (<%= @user.drinks.count %>)</h3>
      <ol class="drinks">
        <%= render @drinks %>
      </ol>

      <%= will_paginate @drinks %>
    <% end %>
  </div>
</div>