<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.picture %>
  		<%= @user.name %>
  		<%= @user.email %><br><br>
      </h1>
       <% if !@facebook_auth %>
  	<%= link_to "Sign in with Facebook", "/auth/facebook"%>
  <%end%>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>