<li id="<%= feed_item.id %>">
  <%=  link_to image_tag(feed_item.user.picture), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %> drank a 
  </span>
  <span class="drink">
    <% if feed_item.type === "Beer"%> 
      <%= link_to feed_item.name, Beer.find_by(feed_item.drink_id) %>
    <%else%>
      <%= link_to feed_item.name, Cocktail.find_by(id: feed_item.drink_id) %>
    <%end%>
  </span>
  <% if !Drink.find(feed_item.id).venue.nil? %> at
  <span class="venue">
    <%= link_to feed_item.venue.name, feed_item.venue%>
  </span>
  <%end%>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span><br>
  <span class="comment">"<%= feed_item.comment %>"</span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     confirm: "You sure?",
                                     title: feed_item.comment %>
  <% end %>
</li><br>