<%if feed_item.user === current_user%>
<article class="comment-item">
<%else%>
<article class="other-post comment-item">
<%end%>
    <a class="pull-left thumb-sm avatar">
      <%=  image_tag feed_item.user.picture, class: "img-circle" %>
    </a>
    <span class="arrow left"></span>
    <section class="comment-body panel">
      <div class="panel-body">
        <div>
          <%= link_to feed_item.user.name, feed_item.user %>
          (<%=feed_item.user.fly_status%>) drank a 
          <% if feed_item.type === "Beer"%> 
            <%= link_to feed_item.name, Beer.find(feed_item.drink_id) %> beer
            <%if !Beer.find(feed_item.drink_id).img_icon.nil?%>
              <a href="/beers/<%=feed_item.drink_id%>" class="pull-right thumb-sm avatar">
                <%=image_tag Beer.find(feed_item.drink_id).img_icon, class: "img-circle"%>
              </a>
            <%end%>
          <%else%>
            <%= link_to feed_item.name, Cocktail.find(feed_item.drink_id) %> cocktail
            <%if !Cocktail.find(feed_item.drink_id).image.nil?%>
              <a href="/cocktails/<%=feed_item.drink_id%>" class="pull-right thumb-sm avatar">
                <%=image_tag Cocktail.find(feed_item.drink_id).image, class: "img-circle" %>
              </a>
            <%end%>
          <%end%><br>
          <%if feed_item.comment === "" %>
          <%else%>
            <i class="fa fa-comment-o"></i> "<%=feed_item.comment%>"
          <%end%>
          </div>
          <div>
            <span class="text-muted m-l-sm pull-right">
              <small><i class="fa fa-clock-o"></i>
              <%= time_ago_in_words(feed_item.created_at) %> ago.</small><div class="med_vert"></div>
              <small><i class="fa fa-map-marker"></i>
              <%= feed_item.location %></small>
            </span>
          </div>
      </div>
    </section>
</article>