<a href="<%= user_path(current_user) %>">
  <%= image_tag current_user.picture %>
</a>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.drinks.count, "drinks") %></span>