<% provide(:title, @venue.name) %>

<section id="content">
  <section class="vbox">
  	<section class="scrollable wrapper">
  		<div class="row">
        	<div class="col-lg-4">
	        	<section class="panel">
	        		<div class="panel-body">
	        			<div class="clearfix text-center">
							<div class="h3 m-b-xs">
								<strong><%= @venue.name%></strong><div class="small_space"></div>
								<small class="text-muted m-b"><i class="fa fa-beer"></i> <%= @venue.address%>, <%= @venue.city%>, <%= @venue.state%> <%= @venue.zip%><br><br>
								</small>
							</div>
							Phone: <%=@venue.phone%><br>
							Website: <%= link_to @venue.url %>
						</div>
	        		</div>
	        		<div class="line line-dashed"></div>
	        		<footer>
	        			<div class="col-lg-12">
	        				<div class="btn-group btn-group-justified">
	        					<% checkin_label = @venue.checkins.to_s + "<br> Check-Ins" %>
	        					<% likes_label = @venue.likes.to_s + "<br> Likes" %>
	        					<%= link_to checkin_label.html_safe, signup_path, class: "btn btn-danger lter btn-xlarge" %>
        						<%= link_to likes_label.html_safe, signin_path, class: "btn btn-warning dker btn-xlarge" %>
	        				</div>
	        			</div>
	        		</footer>
	        	</section>
        	</div>
        </div>
  	</section>
  </section>
</section>

<h1><%=@venue.name%></h1>
<h1><%=pluralize(@venue.checkins, "check-ins")%></h1>
<h1><%=pluralize(@venue.likes, "likes")%></h1>
<%=@venue.address%><br>
<%=@venue.city%>, <%=@venue.state%> <%=@venue.zip%><br>
<%=@venue.phone%><br><br>
<%= link_to @venue.url %><br>
<%=@venue.description%>