<% provide(:title, @venue.name) %>

<section id="content">
  <section class="vbox">
  	<section class="scrollable wrapper">
  		<div class="row">
        	<div class="col-lg-4">
	        	<section class="panel">
	        		<div class="panel-body">

	        			<%=render 'likes'%>

	        			<div class="clearfix text-center">
							<div class="h3 m-b-xs">
								<strong><br><br><%= @venue.name%></strong><div class="small_space"></div>
								<small class="text-muted m-b"><i class="fa fa-map-marker"></i> <%= @venue.address%>, <%= @venue.city%>, <%= @venue.state%> <%= @venue.zip%><br><br>
								</small>
							</div>
							Phone: <%=@venue.phone%><br>
							<%if !@venue.url.nil? && @venue.url != "" %>
								Website: <a href=<%= @venue.url %>><%=@venue.url%></a>
							<%end%>
						</div>
	        		</div>
	        		<div class="line line-dashed"></div>
	        		<footer>
	        			<div class="col-lg-12">
	        				<div class="bg-danger lter col-lg-6 text-center">
	        					 <br>
	        					 <%=@venue.checkins%> &nbsp; <i class="fa fa-map-marker"></i><br>
	        					 Check-Ins<br><br>
	        				</div>
	        				<div class="bg-warning dker col-lg-6 text-center">
	        					 <br>
	        					 <%=@venue.likes%> &nbsp; <i class="fa fa-heart"></i><br>
	        					 Likes<br><br>
	        				</div>

	        				<button class="btn btn-transparent"></button>
	        			</div>
	        		</footer>
	        	</section>
        	</div>
        	<div class="col-lg-7">
	    	<% if !@venue.description.nil? && @venue.description != ""%>						
	      		<div class="panel bg-danger lter">
	      				<%=@venue.description%>
	      		</div>
	      	<%else%>
	      		<div class="panel bg-danger lter">
	      				Recent Check-Ins
	      		</div>
	      	<%end%>
	      		<%=render 'shared/feed'%>
	        </div>
        </div>
  	</section>
  </section>
</section>