  <!--aside-->
  <aside class="bg-barfly aside-sm" id="nav">
    <section class="vbox">
      <header class="dker nav-bar nav-bar-fixed-top">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
          </a>
          <%=link_to "BarFly", root_path, class: "nav-brand" %>
          <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="fa fa-user"></i>
          </a>
        </header>
        <section>
          <!-- user -->
          <div class="bg-barfly lt nav-user hidden-xs pos-rlt">
            <div class="nav-avatar pos-rlt">
                <%if current_user.picture.nil?%>
                  <%= link_to image_tag("Icons/icon_final.png"), current_user, class: "thumb-sm avatar animated rollIn" %>
                <%else%> 
                  <%= link_to image_tag(current_user.picture), current_user, class: "thumb-sm avatar animated rollIn" %> 
                <%end%>
              <div class="visible-xs m-t m-b">
                <a href="#" class="h3"><%=current_user.name%></a>
                <p><i class="fa fa-map-marker"></i> <%=current_user.location%></p>
              </div>
            </div>
             <div class="nav-msg">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
              </a>
              <ul class="dropdown-menu m-l-sm pull-left animated fadeInLeft">
                <li>
                  <li><%= link_to(raw("<i class='fa fa-user'></i> &nbsp;&nbsp;&nbsp;&nbsp; Profile"), current_user) %></li>
                </li>
                <li>
                  <li><%= link_to(raw("<i class='fa fa-wrench'></i>&nbsp;&nbsp;&nbsp;&nbsp; Settings"),  edit_user_path(current_user)) %></li>
                </li>
                <li class="divider"></li>
                <li>
                  <li><%= link_to(raw("<i class='fa fa-power-off'></i>&nbsp;&nbsp;&nbsp;&nbsp; Sign out"), signout_path, method: "delete") %></li>
                </li>
              </ul>
            </div>
          </div>
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
            <ul class="nav">
              <li class="active">
                <a href="/">
                  <i class="fa fa-eye"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <i class="fa fa-globe"></i>
                  <span>Discover</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <i class="fa fa-book"></i>
                  <span>Passport</span>
                </a>
              </li>
              <li>
                <a href="/recommendations">
                  <i class="fa fa-trophy"></i>
                  <span>Memorabilia</span>
                </a>
              </li>
              <li>
                <a href="/recommendations">
                  <i class="fa fa-heart"></i>
                  <span>Try These!</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
        <footer class="footer bg-gradient hidden-xs">
          <span class="btn btn-sm btn-link m-r-n-xs">
            <%= link_to(raw("<i class='fa fa-power-off'></i>"), signout_path, method: "delete") %>
          </span>
        </footer>
      </section>
  </aside>
  <!-- /.aside -->