  <!--aside-->
  <aside class="bg-barfly aside-sm" id="nav">
    <section class="vbox">
      <header class="dker nav-bar nav-bar-fixed-top">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
          </a>
          <%=link_to "BarFly", root_path, class: "nav-brand" %>
          <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="fa fa-user"></i>
          </a>
        </header>
        <section>
          <!-- user -->
          <div class="bg-barfly lt nav-user hidden-xs pos-rlt">
            <div class="nav-avatar pos-rlt">
              <a href="/" class="thumb-sm avatar animated rollIn">
                <%if @user.picture.nil?%>
                  <%=image_tag "Icons/icon_final.png"%>
                <%else%> 
                <%=image_tag @user.picture%> 
                <%end%>
              </a>
              <div class="visible-xs m-t m-b">
                <a href="#" class="h3"><%=@user.name%></a>
                <p><i class="fa fa-map-marker"></i> <%=@user.location%></p>
              </div>
            </div>
             <div class="nav-msg">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa  fa-arrow-circle-right"></i>
              </a>
              <ul class="dropdown-menu m-l-sm pull-left animated fadeInLeft">
                <li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                </li>
                <li>
                  <li><%= link_to "Profile", current_user %></li>
                </li>
                <li>
                  <a href="#">
                    <span class="badge bg-danger pull-right">3</span>
                    Notifications
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="docs.html">About BarFly</a>
                </li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </div>
          </div>
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
            <ul class="nav">
              <li class="active">
                <a href="/">
                  <i class="fa fa-eye"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flask"></i>
                  <span>Link2</span>
                </a>
                <ul class="dropdown-menu">                
                  <li>
                    <a href="buttons.html">Sublink</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-file-text"></i>
                  <span>Link3</span>
                </a>
                <ul class="dropdown-menu">                
                  <li>
                    <a href="dashboard.html">Dashboard</a>                    
                  </li>
                  <li>
                    <a href="dashboard-1.html">Dashboard one</a>              
                  </li>
                </ul>
              </li>
              <li>
                <a href="mail.html">
                  <b class="badge bg-primary pull-right">100</b>
                  <i class="fa fa-envelope-o"></i>
                  <span>Link4</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
        <footer class="footer bg-gradient hidden-xs">
          <p class="dim"><small><br>&copy; Annie Tang 2014</small></p>
        </footer>
      </section>
  </aside>
  <!-- /.aside -->